
.nav a {
    text-decoration: none;
    color: blueviolet;

}

.link-rp a {
    text-decoration: none;



}

.link-rp {
    color: #5500a5;
}

html {
    font-size: 1rem;
}

.btn.btn-outline-success:hover {
    background-color: orange;
    border-color: transparent;
    color: #ffffff;
    transform: scale(1.15);
}

.btn.btn-outline-success {

    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transition: transform 0.3s ease;

}

.banner {
    width: 100%;
    height: auto;
}

.banner-text {
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-right: 100px;
}



.nav-link {

    color: #ffffff;
    transition: transform 0.3s ease;
    margin-right: 50px;

}

.nav-link:hover {

    color: #ffffff;
    transform: scale(1.15);

}

.nav-link {
    position: relative;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    /* Ajuste a altura conforme necessário */
    background-color: orange;
    /* Cor da linha */
    bottom: -5px;
    /* Espaço abaixo do link */
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-link:hover::after {
    transform: scaleX(1);
}





.navbar-brand img {
    width: 100x;
    height: 100px;
    transition: transform 0.8s ease;
    border-radius: 20px;

}

.navbar-brand:hover {
    transform: scale(1.15);
    border: 2px solid orange;

}

.navbar-brand {
    transition: transform 0.8s ease;
    border-radius: 20px;
    margin-left: 35px;
}

.fade-in-left {
    animation: fadeInLeft 3s ease-in-out;
}

.fade-in-right {
    animation: fadeInRight 3s ease-in-out;
}
.certificado img{
    width: 20%;
    height: auto;
    
}

.video-container {
    border: 1px solid orange;
    border-radius: 25px;

    opacity: 0;
    animation: fadeIn 6s ease forwards;

}

.video-container h2 {
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-right: 100px;
}

.container-mood {

    /* Borda fina */
    margin: 20px;
    /* Margem de 20px */
    opacity: 0;
    animation: fadeIn 10s ease forwards;
    /* Animação de surgimento suave */
}

.container-mood {
    color: white;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-right: 100px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slide-in-left {
    animation: slideInLeft 6s ease forwards;
}

.slide-in-right {
    animation: slideInRight 6s ease forwards;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}




@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 15s ease forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}






@media (max-width: 768px) {
    .banner-text {
        margin-right: 2px;

    }

    h1 {
        font-size: 16px;
    }

    h4 {
        font-size: 14px;
    }
}

@media (max-width: 346px) {
    .banner-text {
        margin-right: 2px;

    }

    h1 {
        font-size: 14px;
    }

    h4 {
        font-size: 12px;
    }
}

@media (min-width: 576px) {
    body {
        font-size: 0.7rem;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 0.9rem;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 1.1rem;
    }
}